@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: rgb(255, 255, 255);
    --dark-color: rgb(0, 0, 0);
    --primary-color: #705627;
    --primary2-color: #ac8e65;
    --primary3-color: #d6b991;
    --primary4-color: #69430e;
    --secondary-color: #2d5976;
    --secondary2-color: #729ed2;
    --secondary3-color: #b5cde9;
    --trird-color: #eced9e;
    --trird2-color: #d2d45f;
    --trird3-color: #e4e6a3;
    --trird4-color: #494a09;
    
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    
    --site-max-width: 1300px;
    
    }
body {
    background-color: var(--secondary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

header {
    background: var(--secondary2-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
}

/* game */

.game-container {
    text-align: center;
    padding: 50px 20px;
}

.game-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: var(--secondary3-color);
    padding: 20px;
    border-radius: var(--border-radius-s);
}

.game-text {
    flex: 1; 
    text-align: center;
}

.jautajumi {
    background-color: var(--secondary-color); 
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.jaut-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.jautajums-box, .result-box {
    background-color: var(--secondary3-color); 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    border-radius: var(--border-radius-s); 
    text-align: center;
}

#after-sub {
    visibility: hidden; 
}

.jaut-container {
    background-color: var(--secondary3-color); 
    border: 2px solid var(--secondary-color); 
    border-radius: var(--border-radius-s);   
    max-width: 800px;
    margin: 20px auto;                        
    padding: 20px;                            
    text-align: left;
}

.jaut-title {
    margin-bottom: 15px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
}

.options-list {
    display: block;
    text-align: left;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.result-box {
    background-color: var(--secondary3-color); 
    visibility: hidden;
    font-size: var(--font-size-m);
}

#submit-btn {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 50px;
    background-color: var(--secondary2-color);
    color: white;
    padding: 10px 40px;
    border-radius: var(--border-radius-s);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
}